@tailwind base;
@tailwind components;
@tailwind utilities;

.blue1GradUp::after {
    @apply absolute bottom-0 left-0 w-full bg-gradient-to-b from-brandBlue1/0 to-brandBlue1 h-96;
  content: '';
}

.page-hero {
  position: relative;
}

.page-hero::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 24rem; /* same as h-96 */
  background-image: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
  z-index: 0;
  pointer-events: none;
}

.page-hero > .container {
  position: relative;
  z-index: 10; /* heading above gradient */
}

.btnOutlineGold {
    @apply px-10 py-4 text-lg font-bold tracking-widest uppercase border border-solid border-brandGold text-brandGold hover:bg-brandGold hover:text-white font-sansAccent1;
}
.btnGold {
    @apply px-10 py-4 text-lg font-bold tracking-widest text-white uppercase bg-brandGold hover:bg-brandGold/75 font-sansAccent1;
}